* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #141414;
  font-family: Helvetica, Arial, serif;
}

.Netflix__Header {
  height: 810.44px;
  background-image: url("../assets/images/pelicula-inocents.png");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

.Netflix__Navbar {
  height: 68px;
  max-height: 68px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.Netflix__Navbar .Netflix__Menu--right {
  display: flex;
}

.Netflix__Navbar .Netflix__Menu--right > img {
  margin: 22px 0 21.14px 58px;
}

.Netflix__Menu--right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 45px;
}

.Netflix__Menu--right ul li {
  max-height: 17px;
}

.Netflix__Menu--right ul li > a {
  text-decoration: none;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-right: 16px;
  letter-spacing: 0.5px;
  line-height: 17px;
}

.Netflix__Menu--right ul > li > a.active {
  font-weight: bold;
}

.Netflix__Search {
  display: flex;
  position: relative;
  margin-right: 59px;
}
.Netflix__Search img {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 7px 0 7.85px 5.9px;
}

.Netflix__Search--form input[type="search"] {
  outline: none;
  border: 1px solid white;
  color: white;
  height: 34px;
  width: 0;
  background: none;
  border: none;
  line-height: 0;
  padding-left: 30px;
  transition: width 0.4s ease;
  cursor: pointer;
}

.Netflix__Search img {
  cursor: pointer;
}
.Netflix__Search img:focus + .Netflix__Search--form input[type="search"] {
  width: 268px;
  border: 1px solid white;
  background: #1d1c1d;
  font-family: Helvetica, Arial, serif;
}

.Netflix__Search--form input[type="search"]:focus {
  width: 268px;
  border: 1px solid white;
  background: #1d1c1d;
}

.Netflix__Search--form input[type="search"]::-webkit-input-placeholder {
  color: #7f7f7f;
  padding: 8px 150px 8px 0;
  font-family: Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: -0.2px;
  line-height: 18px;
}

.Netflix__Search--form input[type="search"]::-moz-placeholder {
  color: #7f7f7f;
  padding: 8px 150px 8px 0;
  font-family: Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: -0.2px;
  line-height: 18px;
}

.Netflix__Search--form input[type="search"]::-ms-input-placeholder {
  color: #7f7f7f;
  padding: 8px 150px 8px 0;
  font-family: Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: -0.2px;
  line-height: 18px;
}

.Netflix__Search--form input[type="search"]:-moz-placeholder {
  color: #7f7f7f;
  padding: 8px 150px 8px 0;
  font-family: Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: -0.2px;
  line-height: 18px;
}

.Netflix__Search--form input[type="search"]::-webkit-search-decoration,
.Netflix__Search--form input[type="search"]::-webkit-search-cancel-button,
.Netflix__Search--form input[type="search"]::-webkit-search-results-button,
.Netflix__Search--form input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.Netflix__Movie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 187.69px;
}

.Netflix__Movie .Netflix__Movie--information {
  margin-left: 58px;
  margin-bottom: 26px;
  max-width: 485px;
}
.Netflix__Movie .Netflix__Movie--information img {
  margin-left: 3px;
}

.Netflix__Movie--information .Netflix__Movie--buttons {
  margin-bottom: 15px;
  margin-top: 26px;
}

.Netflix__Movie--buttons button:first-child,
.Netflix__Movie--buttons button:last-child {
  border: none;
  outline: none;
  font-family: Helvetica, Arial, sans-serif;
  height: 41px;
  width: 129px;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 19px;
  border-radius: 3px;
  background-color: rgba(51, 51, 51, 0.4);
  color: white;
  text-align: center;
}

.Netflix__Movie--buttons button:last-child {
  width: 154px;
  margin-left: 12px;
  font-weight: bold;
}

.Netflix__Movie--buttons button:first-child img {
  margin-right: 11.5px;
}
.Netflix__Movie--buttons button:last-child img {
  margin-right: 10.4px;
}

.Netflix__Movie--information .Netflix__Movie__Description {
  font-family: Helvetica, Arial, sans-serif;
}
.Netflix__Movie--information .Netflix__Movie__Description > h3 {
  margin-left: 1px;
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.22px;
  line-height: 26px;
  color: white;
}

.Netflix__Movie__Description > p {
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 25px;
  color: white;
}
.Netflix__Movie--rating {
  font-family: Helvetica, Arial, sans-serif;
  height: 32px;
  width: 95px;
  margin-bottom: 16px;
  background-color: #252928;
  border-left: 3px solid white;
  align-self: flex-end;
  color: white;
}

.Netflix__Movie--rating .Rating > span {
  display: block;
  height: 19px;
  width: 28px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.16px;
  line-height: 19px;
  margin: 7px 0 6px 13px;
}

.Netflix__Originals {
  font-family: Helvetica, Arial, sans-serif;
  max-height: 468px;
  margin-top: -198px;
  z-index: 2;
}

.Netflix__Originals > h3 {
  text-transform: uppercase;
  height: 24px;
  width: 203px;
  margin-left: 58px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.16px;
  line-height: 24px;
  margin-bottom: 11px;
}
.Netflix__Originals__Posters {
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 433px;
  padding-left: 58px;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

::-webkit-scrollbar {
  /*
  width: 0px;
  background: transparent;
  */
  display: none;
}

.Netflix__Originals__Poster {
  background-repeat: no-repeat;
  height: 433px;
  width: 217px;
  margin-right: 5px;
  flex: 0 0 auto;
  position: relative;
  color: white;
  transition: opacity 0.3s ease;
}

.Netflix__Originals__Poster.Magic {
  background-image: url("../assets//movie-images/v-magic.jpg");
}

.Netflix__Originals__Poster.Big-Fish {
  background-image: url("../assets//movie-images/v-big-fish.jpg");
}

.Netflix__Originals__Poster.Insatiable {
  background-image: url("../assets//movie-images/v-insatiable.png");
}

.Netflix__Originals__Poster:hover .Poster__Overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background 0.3s ease-out;
  background: rgba(0, 0, 0, 1);
}

.Netflix__Originals__Poster:hover .Poster__Overlay {
  background: rgba(0, 0, 0, 0.6);
}

.Netflix__Poster--information {
  position: absolute;
  top: 50%;
  z-index: 3;
}

.Netflix__Poster__Header > p {
  height: 19px;
  width: 145px;
  font-size: 16px;
  letter-spacing: 1.2px;
  line-height: 19px;
}

@media screen and (min-width: 768px) {
}

@media screen and (max-width: 1440px) {
}
