* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #141414;
  font-family: Helvetica, Arial, serif;
}

.Netflix__Header {
  height: 810.44px;
  background-image: url("../assets/images/pelicula-inocents.png");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

.Netflix__Navbar {
  height: 68px;
  max-height: 68px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Netflix__Navbar .Netflix__Menu--right {
  display: flex;
}

.Netflix__Navbar .Netflix__Menu--right > img {
  margin: 22px 0 21.14px 58px;
}

.Netflix__Menu--right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 45px;
}

.Netflix__Menu--right ul li {
  max-height: 17px;
}

.Netflix__Menu--right ul li > a {
  text-decoration: none;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-right: 16px;
  letter-spacing: 0.5px;
  line-height: 17px;
}

.Netflix__Menu--right ul > li > a.active {
  font-weight: bold;
}

.Netflix__Search {
  display: flex;
  position: relative;
  margin-right: 59px;
}
.Netflix__Search img {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 7px 0 7.85px 5.9px;
}

.Netflix__Search--form input[type="search"] {
  outline: none;
  border: 1px solid white;
  color: white;
  height: 34px;
  width: 0;
  background: none;
  border: none;
  line-height: 0;
  padding-left: 30px;
  transition: width 0.4s ease;
  cursor: pointer;
}

.Netflix__Search img {
  cursor: pointer;
}
.Netflix__Search img:focus + .Netflix__Search--form input[type="search"] {
  width: 268px;
  border: 1px solid white;
  background: #1d1c1d;
}

.Netflix__Search--form input[type="search"]:focus {
  width: 268px;
  border: 1px solid white;
  background: #1d1c1d;
}

.Netflix__Search--form input[type="search"]::-webkit-input-placeholder {
  color: #7f7f7f;
  padding: 8px 150px 8px 0;
  font-family: Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: -0.2px;
  line-height: 18px;
}

.Netflix__Search--form input[type="search"]::-moz-placeholder {
  color: #7f7f7f;
  padding: 8px 150px 8px 0;
  font-family: Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: -0.2px;
  line-height: 18px;
}

.Netflix__Search--form input[type="search"]::-ms-input-placeholder {
  color: #7f7f7f;
  padding: 8px 150px 8px 0;
  font-family: Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: -0.2px;
  line-height: 18px;
}

.Netflix__Search--form input[type="search"]:-moz-placeholder {
  color: #7f7f7f;
  padding: 8px 150px 8px 0;
  font-family: Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: -0.2px;
  line-height: 18px;
}

.Netflix__Movie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 187.69px;
}

.Netflix__Movie .Netflix__Movie--information {
  margin-left: 61px;
  margin-bottom: 26px;
  max-width: 485px;
}
.Netflix__Movie .Netflix__Movie--information img {
}

.Netflix__Movie--information .Netflix__Movie--buttons {
  margin-left: 58px;
  margin-bottom: 15px;
}

.Netflix__Movie--rating {
  height: 32px;
  width: 95px;
  background-color: #252928;
  border-left: 1px solid white;
  align-self: flex-end;
}

@media screen and (min-width: 768px) {
}

@media screen and (max-width: 1440px) {
}
